<!DOCTYPE html>
<html>

<head>
    <title>Umnov Yaroslav</title>
    <link rel="stylesheet" href="https://static.tildacdn.info/css/tilda-grid-3.0.min.css" type="text/css" media="all"
        onerror="this.loaderr='y';" />
    <link rel="stylesheet"
        href="https://static.tildacdn.info/ws/project11456279/tilda-blocks-page59355657.min.css?t=1733214364"
        type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="https://static.tildacdn.info/css/fonts-tildasans.css" type="text/css" media="all"
        onerror="this.loaderr='y';" />
</head>

<body class="t-body" style="margin:0;"> <!--allrecords-->
    <div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="11456279"
        data-tilda-page-id="59355657" data-tilda-formskey="ac4d325e70b4f5152ce0b21a11456279" data-tilda-cookie="no"
        data-tilda-lazy="yes" data-tilda-root-zone="com">
        <div id="rec834694016" style="padding-top:45px; " data-record-type="255"> <!-- T225 -->
            <div class="t225">
                <div class="t-container t-align_left">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div class="t225__title t-title t-title_md" field="title">Умнов Ярослав</div>
                        <div class="t225__descr t-descr t-descr_xxl" field="descr">Я являюсь учеником ГУАПа.
                            <br />Работаю с Unity, C#, Python.<br />Знаком с библиотеками для Python: PyGame, PyQT,
                            PyAutoGUI, CTypes, Json.<br />А вот мой(почти) кот
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="t225">
            <div class="t-container t-align_left">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t225__descr t-descr t-descr_xxl" field="descr"><img
                            src="https://th.bing.com/th/id/OIP.l5_N3WLU1BNRZPv984GZdwHaE7?rs=1&pid=ImgDetMain">
                    </div>
                </div>
            </div>
        </div>
        <div id="rec834694017" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "
            data-animationappear="off" data-record-type="106"> <!-- T004 -->
            <div class="t004">
                <div class="t-container ">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div field="text" class="t-text t-text_md "><strong>Контактные данные:</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rec834694018" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-animationappear="off"
            data-record-type="106"> <!-- T004 -->
            <div class="t004">
                <div class="t-container ">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div field="text" class="t-text t-text_md ">
                            <div style="font-size: 16px;" data-customstyle="yes"><a href="tel:+71234567890"
                                    style="font-size: 16px;">+7 123 456 78 90</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rec834694018" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-animationappear="off"
            data-record-type="106"> <!-- T004 -->
            <div class="t004">
                <div class="t-container ">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div field="text" class="t-text t-text_md ">
                            <div style="font-size: 16px;" data-customstyle="yes"><a
                                    href="mailto:jaroslavumnov@gmail.com"
                                    style="font-size: 16px;">jaroslavumnov@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>